
import(dexter)

import(shiny, except = c('renderDataTable', 'dataTableOutput'))
importFrom(shinyBS, 'bsTooltip')
importFrom(shinyjs, 'useShinyjs', 'runjs', 'show', 'hide', 'hidden','reset')
importFrom(DT, 'renderDataTable', 'dataTableOutput', 'JS', 'datatable', 'tableHeader', 'tableFooter', 'dataTableProxy', 'replaceData')
importFrom(shinyFiles, 'parseSavePath', 'parseFilePaths', 'shinySaveButton', 'shinyFilesButton', 'shinyFileChoose', 'shinyFileSave')
importFrom(htmltools, 'tagAppendAttributes', 'attachDependencies', 'htmlEscape')
importFrom(htmlwidgets, 'getDependency')
importFrom(jsonlite, 'toJSON', 'unbox')
importFrom(DBI, 'dbGetQuery', 'dbListFields', 'dbExecute', 'dbExistsTable')

import(dplyr)
importFrom(tidyr, 'spread', 'unite', 'gather')
importFrom(tibble, 'add_column', 'add_row')
importFrom(readxl, 'read_excel')
importFrom(readODS, 'read_ods')
importFrom(writexl, 'write_xlsx')

importFrom(RCurl, 'base64Encode')
importFrom(rlang,'caller_env','.data', ':=')

importFrom(grDevices, 'dev.off', 'png')
importFrom(graphics, 'par', 'plot', 'boxplot', 'hist')
importFrom(methods, 'new')
importFrom(utils, 'help', 'vignette', 'modifyList', 'write.csv2', 'read.csv')
importFrom(stats, 'weighted.mean','reformulate','coef')
importFrom(tools, 'file_ext')
import(ggplot2)
import(ggridges)
importFrom(ggExtra, 'ggMarginal')
importFrom(igraph, 'cluster_walktrap', 'graph_from_incidence_matrix',
           'membership', 'graph_from_adjacency_matrix')
importFrom(networkD3, 'forceNetworkOutput', 'igraph_to_networkD3', 'forceNetwork', 'renderForceNetwork')
importFrom(Cairo, 'Cairo')
import(RColorBrewer)

export(dextergui)

